<div>
  <h3> Enter User Details </h3>
<form  name="userForm"  #userForm="ngForm" novalidate   (ngSubmit)="saveUser(userForm.value)"> 
    <div>
      <label for="fullname">Name: </label>
      <input id="fullname" type="text" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" required />
    </div>
    
    <div class="form-group">
      <label for="address">Address: </label>
      <input id="address" type="text" name="address" [(ngModel)]="model.address" #address="ngModel"  required/>
    </div>
    <div>
      <label for="city">City: </label>
      <input id="city" type="text"name="city" [(ngModel)]="model.city" #city="ngModel"  required/>
    </div>
<br/>
    <button  *ngIf="edit" type="submit" class="btn btn-primary">Save</button>
    <button  *ngIf="!edit" (click)="updateUser(model)" class="btn btn-primary">Update</button>
     <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

     <div>
       <br/>

       <br/>
       <div>
         <h3> User Details </h3>
  <table border="10px">
    <thead>
      <tr>
        <th>Name</th> 
        <th>Address</th>
        <th>City</th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data;let ndx = index">

  <td>{{user.fullname}} </td>
  <td>{{user.address}} </td>
  <td>{{user.city}} </td>


        <td> <button (click)="delete(user)" type ="submit" class="btn btn-primary">Delete </button>
        <button *ngIf="edit" type="submit" class="btn btn-primary" (click)="editUser(user,ndx)"> Edit </button>
       
      </tr>
    </tbody>
  </table>
       </div>
</div>
  </form>
</div>